/*.tableControlSpendings {
   border-collapse: collapse;
   border: 1px solid grey;
    text-align:center;
}
*/
.dataLoadingControl td{
  /*  width:500px; */
   /* margin:auto; */
    text-align: center;
    width:150px;
}

.dataLoadingControl{
    max-width: 30%;
    margin: auto;
}


.tableControlSpendings{
    max-width: 60%;
   /* border:1px solid red;*/
    margin: auto;

}

.tableControlSpendings tr td{
    text-align:center;
    /*width: 50px;*/
   /* border:1px solid gray;*/
    border-radius: 0;
}


.spendingControlTitle{
    text-align:center;
}

td {
   border: 1px solid grey;
}


.fontAdvertSystem{
    color:#FF0000;
}

.fontClientName{
    color:#FF0000;
}

/* Цвет фона для Google
.blueFont{
    color:#87CEEB;
}
*/


.devisions{
    color:#696969;
    font-size:13px;
}
