 {{ attach_library('algus-context-spending/algus-context-spending') }}


<h1 class="spendingControlTitle">Контроль расходов</h1>

 <table class="tableControlSpendings">

    <tr>

        <td>Аккаунт</td>
        <td>Комиссия</td>
        <td>Месячный <br>бюджет по <br>МП</td>
        <td>Недельный <br>бюджет по <br>МП</td>
        <td>Дневной <br>бюджет по <br>МП</td>
        <td>Расход за <br>30 дней</td>
        <td>Расход за <br>7 дней</td>
        <td>Расход за <br>вчера</td>
        <td>Остаток</td>
        <td>Прогноз <br>окончания из <br>средней за 7 <br>дней</td>
        <td>Последние <br>зачисления</td>
    </tr>

  {% for item in spendings_control.ynd %}


    <tr>

        {% if item.advert_system == 'Я' %}
        
            <td> 
                  <span class="fontAdvertSystem">
                      {{ item.advert_system }}
                 </span> 
                 {{ item.login }} 
                 <br> 
                 
                 <span class="fontClientName">
                        {{ item.client_name }} 
                 </span>
            </td>
                 
                 
                 
            {% else %}  
               <td> 
                   <span class="blueFont"> 
                       {{ item.advert_system }}
                   </span> 
                   
                   {{ item.login }} 
                   <br>
                   
                   <span class="blueFont"> 
                      {{ item.client_name }} 
                   </span>
              </td>
        {% endif %}




        <td> {{ item.fee }} </td>
        
        <td> {{ item.monthly_budget }}</td>
        
        <td> {{ item.weekly_budget }}</td>
        
        <td> {{ item.daily_budget }}</td>
        
     
     
     
     {#-------------- monthly_devision---------------- #}

        {% if item.monthly_devision >= 0  and item.monthly_devision < 10 %}
        
           {#  <td style="width:120px;">  #}
            <td>
                  {{ item.last30_spending }}  
                           <span class="devisions">
                              {{ "+" ~ item.monthly_devision ~ "%" }}
                           </span> 
            </td>
            
        {% elseif  item.monthly_devision >= 10 %}
        
             <td style="background:rgb(98%, 50%, 45%, {{ item.monthly_devision_opacity }}%)">
                   {{ item.last30_spending }}  
                           <span class="devisions">
                                 {{ "+" ~ item.monthly_devision ~ "%" }}
                           </span> 
            </td>
            
        {% endif %}


        {% if item.monthly_devision <= -10 %}
        
             <td style="background:rgb(12%, 56%, 100%, {{ item.monthly_devision_opacity }}%)">
                       {{ item.last30_spending }} 
                               <span class="devisions">
                                     {{ item.monthly_devision ~ "%" }}
                                </span>
            </td>
            
        {% elseif  item.monthly_devision < 0 %}
        
            {# <td style="width:120px">  #}
            <td>
                    {{ item.last30_spending }}
                        <span class="devisions">
                            {{ item.monthly_devision ~ "%" }} 
                        </span>
            </td>
            
        {% endif %}
        
        
     
       {# <td> {{ item.last7_spending }}  <p> {{  item.weekly_devision ~ "%" }} </p></td> #}
       
       {#-------------- weekly_devision---------------- #}

        {% if item.weekly_devision >= 0  and item.weekly_devision < 10 %}
        
            <td>
                   {{ item.last7_spending }}  
                         <span class="devisions">
                                {{ "+" ~ item.weekly_devision ~ "%" }}
                         </span> 
            </td>
            
        {% elseif  item.weekly_devision >= 10 %}
        
            <td style="background:rgb(98%, 50%, 45%, {{ item.weekly_devision_opacity }}%)">
                {{ item.last7_spending }}  
                   <span class="devisions">
                      {{ "+" ~ item.weekly_devision ~ "%" }}
                   </span> 
            </td>
            
        {% endif %}
        

        {% if item.weekly_devision <= -10 %}
        
            
            <td style="background:rgb(12%, 56%, 100%, {{ item.weekly_devision_opacity }}%)">
                {{ item.last7_spending }} 
                       <span class="devisions">
                             {{ item.weekly_devision ~ "%" }} 
                        </span>
            </td>
            
        {% elseif  item.weekly_devision <0 %}
        
            <td>
                  {{ item.last7_spending }}  
                        <span class="devisions">
                            {{ item.weekly_devision ~ "%" }} 
                        </span>
             </td>
            
        {% endif %}
        
        
        {# <td> {{ item.yesterday_spending }}  <p> {{  item.daily_devision ~ "%" }} </p></td> #}
        
         {#-------------- daily_devision---------------- #}

        {% if item.daily_devision >= 0  and item.daily_devision < 10 %}
        
            <td>
                  {{ item.yesterday_spending }}  
                           <span class="devisions">
                               {{ "+" ~ item.daily_devision ~ "%" }}
                            </span> 
            </td>
            
        {% elseif  item.daily_devision >= 10 %}

           
            <td style="background:rgb(98%, 50%, 45%, {{ item.daily_devision_opacity }}%)">
                   {{ item.yesterday_spending }}  
                       <span class="devisions">
                         {{ "+" ~ item.daily_devision ~ "%" }}
                       </span> 
            </td>
            
        {% endif %}

        {% if item.daily_devision <=-10 %}
        
            <td style="background:rgb(12%, 56%, 100%, {{ item.daily_devision_opacity }}%)">
                   {{ item.yesterday_spending }}
                       <span class="devisions">
                          {{ item.daily_devision ~ "%" }}
                       </span>
            </td>
            
        {% elseif  item.daily_devision <0 %}
        
            <td>
               {{ item.yesterday_spending }}  
                   <span class="devisions">
                      {{ item.daily_devision ~ "%" }} 
                   </span>
            </td>
            
        {% endif %}





    <td style="width:80px">
         {{ item.balance }}
    </td>

     <td>
         {{ item.days_left ~ ' дн.' }}
    </td>

     <td>
         {{ item.money_transfer }}
         <br>
         {{ item.transfer_date }}
     </td>
    
  </tr>

  {% endfor %}

</table>

