{{ attach_library('algus-context-spending/algus-context-spending') }}

<h1 class="spendingControlTitle">Отчет по загрузке данных</h1>

<table class="dataLoadingControl">

<tr>
    <td>Дата</td>
    <td>Количество проверенных аккаунтов</td>
</tr>

{% for item in data_loading %}
<tr>
    <td> {{ item.date }} </td>
    <td> {{ item.count }} </td>
</tr>
{% endfor %}

</table>